<%- include('partials/header'); -%>

<header>
  <div class="social">
    <img src="social-media-marketing.png" alt="social-media-marketing.png">
  </div>
  <div class="headings">
    <h2>Social Interactions</h2>
    <a href="/profile" class="btn">View Profile</a>
    
</div>
<!-- <img src="social_media.png" alt="social_media.png"> -->
</header>


<%- include('partials/footer'); -%>