<%- include('partials/header'); -%>

<form action="/signup">
  <h2>Login</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <div class="button-login">
    <button>login</button>
  </div>
  <hr>
  <div id="g_id_onload"
       data-client_id="624644556164-992gdj27n69k38dmj4o67o3eat4jdm3j.apps.googleusercontent.com"
       data-callback="handleCredentialResponse">
  </div>

  <div class="g_id_signin"
  data-type="standard"
  data-shape="rectangular"
  data-theme="outline"
  data-text="signin_with"
  data-size="large"
  data-logo_alignment="left">
</div>
</form>

<%- include('partials/footer'); -%>
<script src="https://accounts.google.com/gsi/client" async defer></script>

<script>
  async function handleCredentialResponse(response) {
      console.log("Encoded JWT ID token: " + response.credential);
      const token = response.credential;

    try {
      const res = await fetch("/auth/google", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ token }),
      });
      const data = await res.json();
      if (data.user) {
        location.assign('/profile');
      } else {
        console.error("Authentication failed:", data.error);
      }
    } catch (error) {
      console.error("Error:", error);
    }
  }
  
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // get values
    const email = form.email.value;
    const password = form.password.value;

    console.log(email, password);
    try {
      const res = await fetch('/login', { 
        method: 'POST', 
        body: JSON.stringify({ email, password }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/profile');
      }

    }
    catch (err) {
      console.log(err);
    }
  });
</script>