<%- include('partials/header'); -%>

<main>
    <section class="profile">
        <h2>User Profile</h2>
        <div class="profile-info">
            <img src="rory.jpg" alt="Profile Picture" class="profile-pic">
            <h3><span>Rory Gilmore</span></h3>
            <p><span>rorygilmore@yale.com</span></p>
            <p><span>A passionate journalist and coffee enthusiast.</span></p>
        </div>
    </section>
</main>

<%- include('partials/footer'); -%>