<%- include('partials/header'); -%>

<form action="/signup">

  <!-- First Name and Last Name Row -->
  <div class="row">
    <div class="input-group">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" id="firstName" required />
      <div class="first-name error"></div>
    </div>
    <div class="input-group">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" id="lastName" required />
      <div class="last-name error"></div>
    </div>
  </div>

  <!-- DOB Row -->
  <div class="input-group">
    <label for="dob">Date of Birth</label>
    <input type="date" name="dob" id="dob" required />
    <div class="dob error"></div>
  </div>

  <!-- Email Row -->
  <div class="input-group">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required />
    <div class="email error"></div>
  </div>

  <!-- Password Row -->
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />
    <div class="password error"></div>
  </div>

  <!-- Submit Button -->
  <button type="submit">Sign up</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');
  const firstNameError = document.querySelector('.first-name.error');
  const lastNameError = document.querySelector('.last-name.error');
  const dobError = document.querySelector('.dob.error');


  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // get values
    const email = form.email.value;
    const password = form.password.value;
    const firstName = form.firstName.value;
    const lastName = form.lastName.value;
    const dob = form.dob.value;

    console.log(email, password,firstName,lastName,dob);
    try {
      const res = await fetch('/signup', { 
        method: 'POST', 
        body: JSON.stringify({email,password,firstName,lastName,dob}),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log('Data:',data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
        firstNameError.textContent = data.errors.firstName;
        lastNameError.textContent = data.errors.lastName;
        dobError.textContent = data.errors.dob
      }
      if (data.user) {
        location.assign('/');
      }
    }
    catch (err) {
      console.log(err);
    }
  });
</script>